<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary" ng-model="experiencesCollapsed">
          <div class="panel-heading" ng-click="experiencesCollapsed=!experiencesCollapsed">
            <span class="panel-title panel_title">Experience</span>
            <div class="pull-right">
              <i class="expand fa fa-plus-circle fa-2x" ng-show="experiencesCollapsed"></i>
              <i class="expand fa fa-minus-circle fa-2x" ng-show="!experiencesCollapsed"></i>
            </div>
          </div>

        <div class="panel-body" ng-show="!experiencesCollapsed" ng-switch on="ePanelStatus">
<!-- below is the code to view the experiences -->

          <div ng-switch-when="show">
            <div class="form-group well" ng-repeat="experience in experiences">
              <!-- {{experiences}} -->
              <div class="row">
                <div class='panel_body'>

                  <div class="col-md-2 panel_text">
                    Job Title:
                  </div>
                  <div class="col-md-10">
                  {{experience["job_title"]}}
                  </div>

                  <div class="col-md-2 panel_text">
                  Company Name:
                  </div>
                  <div class="col-md-10">
                  {{experience["company_name"]}}
                  </div>

                  <div class="col-md-2 panel_text">
                  Employed From:
                  </div>
                  <div class="col-md-10">
                  {{experience["start_date"] | date :  "MM/dd/yyyy"}}
                  </div>
                  
                  <div class="col-md-2 panel_text">
                  Employed to:
                  </div>
                  <div class="col-md-10">
                  {{experience["end_date"] | date :  "MM/dd/yyyy"}}
                  </div>

                  <div class="col-md-2 panel_text">
                  Job Description:
                  </div>
                  <div class="col-md-10">
                  {{experience["job_description"] || "N/A"}}
                  </div>
                
                  <div class="col-md-2 panel_text">
                    Details:
                  </div>
                  <div class="col-md-10">
                    <ul ng-repeat="detail in experience['details']">
                      <li>{{detail['detail']}}</li>
                    </ul>
                  </div><!-- col-md-10 in details -->
                </div><!-- panel body -->
              </div><!-- end of row -->
            </div><!-- class="form-group" ng-repeat="experience in experiences" -->
              
            <div class="row">
            <div class="pull-right">
                <div class="form-group col-md-12" class="pull-right" >
                  <div class="form-group" ng-show="ePanelStatus='show'">
                    <button type=" submit "="=" " "="" ng-click="editEPanel()">Edit</button>
                  </div>
                </div>
              </div>
            </div><!-- end of row -->
          </div><!-- ng-switch-when="show" -->
            
<!-- below is the code to edit the experiences -->

            <div ng-switch-when="edit">
              <form role="form" method="get" action="<%= edit_profile_path(current_user.id) %>">
                <div class="well" ng-repeat="experience in experiences">
                    <div class="form-group">
                      <label class="control-label">Job Title</label>
                      <input class="form-control" type="text" ng-model="experience.job_title">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="code">Company Name</label>
                      <input class="form-control" type="text" ng-model="experience.company_name">
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">Employed From:&nbsp;&nbsp;&nbsp;{{experience["start_date"] | date :  "MM/dd/yyyy"}}</label>
                        <input class="form-control" type="date" ng-model="experience.start_date">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="control-label">To:&nbsp;&nbsp;&nbsp;{{experience["end_date"] | date :  "MM/dd/yyyy"}}</label>
                        <input class="form-control" type="date" ng-model="experience.end_date">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Job Description</label>
                      <textarea class="form-control" rows="5" ng-model="experience.job_description"></textarea>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12" id="double_column">
                        <div ng-repeat="experienceDetail in experience['details']">
                            <label class="control-label">Details:</label>                            
                            <table>
                              <tr>
                                <td>
                                  <input class="form-control" ng-click="addNewDetail(experience, experienceDetail)" ng-model="experienceDetail.detail">
                                </td>
                                <td class="delete_circle">
                                  <label class="remove" ng-click="removeDetail(experience, experienceDetail)" ng-if="experienceDetail.detail"><i class="fa fa-2x fa-times-circle-o"></i></label>
                                </td>
                              </tr>
                            </table>
                        </div><!-- End of detail ng-repeat FOR THE EDIT FORM -->
                      </div><!-- End class="form-group col-md-6" id="double_column" -->
                    </div><!-- End of row -->
                    <label class="remove" ng-click="removeExperience(experience)"><i class="fa fa-2x fa-times-circle-o"></i>Delete Experience</label>
                </div><!-- end ng-repeat="experience in experiences -->
              </form>
                <div class="row">
                  <div class="panel_buttons col-md-4">
                    <i class="fa fa-1x fa-plus fa-fw"></i>
                    <label class="control-label" ng-click="experiences.push({details: [{}]})">Add Another Experience</label>
                  </div>
                  <div class="panel_buttons col-md-4">
                    <button type=" submit "="=" " "="" ng-click="resetEPanel(<%= current_user.student.id %>)">Cancel</button>
                  </div>
                  <div class="panel_buttons col-md-4" id="double_column">
                    <button type=" submit "="=" " "="" ng-click="updateAllExperiences(experiences)">Update</button>
                  </div>
                </div><!-- end of row -->
            </div><!-- end ng-switch-when="edit" -->
          </div><!-- end of panel-body ng-switch on="ePanelStatus" -->

        </div><!-- end of panel panel-primary -->
      </div><!-- end of first col-md-12 -->
    </div><!-- end of first row -->
  </div><!-- end of container -->
</div><!-- end of section -->
