<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary" ng-model="professionalSkillsCollapsed">

          <div class="panel-heading" ng-click="professionalSkillsCollapsed=!professionalSkillsCollapsed">
            <span class="panel-title panel_title">Professional skills</span>
            <div class="pull-right">
              <i class="expand fa fa-plus-circle fa-2x" ng-show="professionalSkillsCollapsed"></i>
              <i class="expand fa fa-minus-circle fa-2x" ng-show="!professionalSkillsCollapsed"></i>
            </div>
          </div>

          <div class="panel-body" ng-show="!professionalSkillsCollapsed" ng-switch on="professionalSkillPanelStatus">
  <!-- below is the code to view the professional skills -->
            <div ng-switch-when="show">
              <div class="form-group well" ng-repeat="skill in professionalSkills">
                <div class="row">
                  <div class='panel_body'>

                    <div class="col-md-2 panel_text">
                      Professional Skill:
                    </div>
                    <div class="col-md-10">
                    {{skill.skill_name}}
                    </div>
                  </div>
                </div>
              </div>
                
            <div class="row">
              <div class="pull-right">
                <div class="form-group col-md-12" class="pull-right" >
                  <div class="form-group" ng-show="professionalSkillPanelStatus='show'">
                    <button type=" submit "="=" " "="" class='btn btn-lg btn-primary' style='width: 100%' ng-click="editProfessionalSkillsPanel()">Edit</button>
                  </div>
                </div>
              </div>
            </div><!-- end of row -->
          </div><!-- ng-switch-when="show" -->
              
  <!-- below is the code to edit the professional skills  -->

          <div ng-switch-when="edit">
            <form role="form" method="get" action="#">
              <div class="well" ng-repeat="skill in professionalSkills">
                
                <div class="form-group">
                  <label class="control-label">Professional Skill</label>
                  <input class="form-control" type="text" ng-model="skill.skill_name">
                </div>
                  
              </div><!-- end ng-repeat="experience in experiences -->
            </form>
              <div class="row">
                <div class="panel_buttons col-md-4">
                  <button class='btn-lg btn-success' style='width: 75%'>
                    <label class="control-label" ng-click="experiences.push({details: [{}]})">Add Another Skill</label>
                  </button>
                </div>
                <div class="panel_buttons col-md-4">
                  <button type=" submit "="=" " "="" class='btn-lg btn-danger' style='width: 75%' ng-click="resetProfessionalSkillsPanel()">Cancel</button>
                </div>
                <div class="panel_buttons col-md-4" id="double_column">
                  <button type=" submit "="=" " "="" class='btn-lg btn-success' style='width: 75%' ng-click="addNewExperience(jobs)">Update</button>
                </div>
              </div><!-- end of row -->
          </div><!-- end ng-switch-when="edit" -->
        </div><!-- end of panel-body ng-switch on="professionalSkillPanelStatus" -->

          
        </div><!-- end of panel panel-primary -->
      </div><!-- end of first col-md-12 -->
    </div><!-- end of first row -->
  </div><!-- end of container -->
</div><!-- end of section -->