<div ng-app="app">
  <div ng-controller="resumeCtrl">
    <input ng-model="companyName">
    <input ng-model="jobTitle">
    <input ng-model="startDate">
    <input ng-model="endDate">
    <a href=<%= new_education_path %>>
    <button ng-click="addNewExperience(comanyName, jobTitle, startDate, endDate)">next</button></a>
  </div>
</div>