<div ng-app="app">
	<div ng-controller="resumeCtrl">

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Experience</h3>
							</div>
{{details}}
{{experience}}
							<div class="panel-body">
								<form role="form" method="get" action="<%= new_education_path %>">

									<div class="form-group">
										<label class="control-label">Job Title</label>
										<input class="form-control" type="text" ng-model="jobTitle">
									</div>
									<div class="form-group">
										<label class="control-label">Company Name</label>
										<input class="form-control" type="text" ng-model="companyName">
									</div>
									<div class="row">
										<div class="form-group col-md-6" id="double_column">
											<label class="control-label">Employed From:</label>
											<input class="form-control" type="date" ng-model="startDate">
										</div>
										<div class="form-group col-md-6" id="double_column">
											<label class="control-label">To:</label>
											<input class="form-control" type="date" ng-model="endDate">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Job Description</label>
										<!-- <input class="form-control" type="text"> -->
										<textarea class="form-control" rows="5" ng-model="jobDescription"></textarea>
									</div>

									<div class="row">
										<div class="form-group col-md-6" id="double_column">
											<div  ng-repeat="detail in details">
												<label class="control-label">Details:</label>
												<table>
													<tr>
														<td>
															<input class="form-control" type="text" ng-click="addNewDetail()" ng-model="detail.detail" placeholder="Enter details about the job">
														</td>
														<td>
															<label class="remove" ng-show="$last" ng-click="removeDetail()"><i class="fa fa-2x fa-times-circle-o"></i></label>
														</td>
													</tr>
												</table>
											</div>
												<!-- <label class="addfields" ng-click="addNewDetail()"><i class="fa fa-2x fa-plus-circle"></i>Add Another Detail</label> -->
										</div>
									</div>
									
									<div class="row">
										<div class="form-group col-md-11" id="double_column">
									    <i class="fa fa-1x fa-plus fa-fw "></i>
									    <label class="control-label">Add Another Experience</label>
										</div>
										<div class="form-group col-md-1" id="double_column">
									    <button type=" submit "="=" " "="" ng-click="addNewExperience(startDate, endDate, jobTitle, companyName, details)">Submit</button>
									  </div>
									</div>

								</form>
							</div><!-- end of panel-body -->
						</div><!-- end of panel panel-primary -->
					</div><!-- end of first col-md-12 -->
				</div><!-- end of first row -->
			</div><!-- end of container -->
		</div><!-- end of section -->
		
	</div><!-- end of ng-controller -->
</div><!-- end of ng-app -->
