/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #landing_page {
  background-image: url("backdrop2.jpg");
  background-repeat: no-repeat;
  width: auto;
  height: 900px;
 }

.panel {
	box-shadow: 10px 10px 5px #888888;
}

.splat {
  position: fixed;
  top: 85%;
  margin-left: 5%;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.user_feed_back {
  margin-top: 20%;
}
