.edit_containter {
  border: none;
  padding-top: 10px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.button_center {
  text-align: center;
  padding: 0;
}

.button_text {
  padding-right: 25px;
}

.btn {
  width: 100%;
}

.btn-group {
  text-align: center;
  margin-left: -10px;
}

.button_one, .button_two, .button_three {
  border: none;
  text-align: center;
}