body {
  font-size: 1.5em;
}

.alert {
  background-color: #f6e497;
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

.panel-title {
  font-size: 2em;
  color: #ffffff;
}

.panel-heading {
  height: 60px;
}

.panel_text {
}

.pull-right {
}

.panel_body {
  // border: 1px solid blue;
  // background-color: red;
}

.panel_buttons {
  text-align: center;
}

.form-control-details {
  width: 50%
}

.fa-plus-circle {
  color: green;
}

.fa-times-circle-o {
  color: red;
  margin-top: 13px;
}

table{
    border: none;
    width: 100%;
}

th, td {
    border: none;
}

.delete_circle {
  vertical-align: middle;
  padding-left: 10px;
}

