body {
  font-size: 5em;
}

.panel-title {
  font-size: 2em;
  color: red;
}

.panel-heading {
     background-color: #18A396 !important;
}

.panel {
     border-color: #18A396 !important;
     box-shadow:5px 5px 2px rgba(122,116,116,0.15) !important;
}