body {
  font-size: 1.5em;
}

.alert {
  background-color: #f6e497;
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

.panel {
  border-color: #18A396 !important;
  box-shadow:5px 5px 2px rgba(122,116,116,0.15) !important;
}

.panel-heading {
  background-color: #18A396 !important;
  height: 60px;
}

.panel-title {
  font-size: 3em !important;
  color: red;
}

.panel_buttons {
  text-align: center;
  padding: 5px;
}

.expand {
  margin-top: 10px;
}

.form-control-details {
  width: 50%
}

.fa-plus-circle {
  color: green;
}

.fa-times-circle-o {
  color: red;
}

table{
  border: none;
  width: 100%;
}

th, td {
  border: none;
}

.delete_circle {
  vertical-align: middle;
  padding-left: 10px;
}
