body {
  font-size: 5em;
}

.alert {
  background-color: #f6e497;
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

.panel-title {
  font-size: 2em;
  color: red;
}

.fa-plus-circle {
  color: green;
}

.fa-times-circle-o {
  color: red;
}

