<div ng-app="app">
	<div ng-controller="resumeCtrl">
		{{ 1 + 1 }}
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Personal Information</h3>
							</div>
							<div class="panel-body">
								<form role="form" method="get" action="<%= new_experience_path %>">
									<div class="form-group">
										<label class="control-label" for="exampleInputEmail1">First Name</label>
										<input class="form-control" id="exampleInputEmail1"
										placeholder="Enter First Name" type="text" ng-model="firstName">
									</div>
									<div class="form-group">
										<label class="control-label" for="exampleInputPassword1">Last Name</label>
										<input class="form-control" id="exampleInputPassword1"
										placeholder="Enter Last Name" type="text" ng-model="lastName">
									</div>
									<div class="form-group">
										<label class="control-label" for="exampleInputPassword1">Email</label>
										<input class="form-control" id="exampleInputPassword1" placeholder="Enter Email"
										type="email" ng-model="email">
									</div>
									<div class="form-group">
										<label class="control-label" for="exampleInputPassword1">Phone Number</label>
										<input class="form-control" id="exampleInputPassword1"
										placeholder="Phone Number" type="text" ng-model="phoneNumber">
									</div>
									<div class="row">
										<div class="form-group col-md-6" id="double_column">
											<label class="control-label" for="exampleInputPassword1">Street Address,</label>
											<input class="form-control" id="exampleInputPassword1"
											placeholder="Street Address" type="text">
										</div>
										<div class="form-group col-md-3" id="double_column">
											<label class="control-label" for="exampleInputPassword1">Street Address,</label>
											<input class="form-control" id="exampleInputPassword1"
											placeholder="City" type="text">
										</div>
										<div class="form-group col-md-3" id="double_column">
											<label class="control-label" for="exampleInputPassword1" contenteditable="true">State</label>
											<input class="form-control" id="exampleInputPassword1" placeholder="State"
											type="text">
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-3" id="double_column">
											<label class="control-label" for="exampleInputPassword1">Github,</label>
											<input class="form-control" id="exampleInputPassword1"
											placeholder="Github" type="text" ng-model="github">
										</div>
										<div class="form-group col-md-3" id="double_column">
											<label class="control-label" for="exampleInputPassword1">Blog,</label>
											<input class="form-control" id="exampleInputPassword1"
											placeholder="Blog" type="text" ng-model="blog">
										</div>
										<div class="form-group col-md-3" id="double_column">
											<label class="control-label" for="exampleInputPassword1">Twitter,</label>
											<input class="form-control" id="exampleInputPassword1"
											placeholder="Twitter" type="text" ng-model="twitter">
										</div>
										<div class="form-group col-md-3" id="double_column">
											<label class="control-label" for="exampleInputPassword1">Linkedin,</label>
											<input class="form-control" id="exampleInputPassword1"
											placeholder="Linkedin" type="text" ng-model="linkedin">
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-offset-11" id="double_column" >
											<!-- <a href=<%= new_experience_path %>> -->
									        <button type="submit" class="btn btn-default" ng-click="addPersonalInfo(firstName, lastName, email, phoneNumber, github, blog, twitter, linkedin)">Submit</button>
									        <!-- </a> -->
									    </div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>